/* utilities */
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

/* Title */
#title {
  background-color: #ff4c68;
  color: #fff;
  height: 100vh;
}

.container-fluid {
  padding: 3% 15%;
}

/* Title image */
.iphone-mockup {
  width: 50%;
  transform: rotate(25deg);
}

/* navbar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

.btn-dark:hover {
  background-color: #fff;
  color: #000;
}
.btn-outline-dark {
  color: #fff;
  background-color: #ff4c68;
  border: 1px solid #fff;
}

.btn-outline-dark:hover {
  background-color: #fff;
  color: #000;
}

/* features */
#features {
  background-color: #fff;
}

#features i {
  color: #ef8172;
  margin-bottom: 1rem;
}

#features i:hover {
  color: #ff4c68;
}

#features p {
  color: #8f8f8f;
  font-weight: bold;
}

#features .container-fluid {
  padding: 7% 0;
  width: 50%;
}

.middle-feature {
  padding: 0 20px;
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-img {
  width: 10%;
  border-radius: 50%;
  margin: 20px auto;
}

/* press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */

#pricing {
  padding: 100px;
  text-align: center;
}

.price-col {
  padding: 3% 2%;
}

/* Call To Action */

#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

/* footer */
#footer {
  background-color: #fff;
  text-align: center;
}

#footer p {
  color: #8f8f8f;
  font-weight: bold;
}

.social {
  margin-bottom: 2rem;
}

.social a {
  color: #000;
  text-decoration: none;
  padding: 1rem;
}

.social a:hover {
  color: #ff4c68;
}

@media (max-width: 1250px) {
  .iphone-mockup {
    display: none;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
  }
}

@media (max-width: 515px) {
  .download-button {
    display: inline;
  }
}
